<!DOCTYPE html>
<html>
  <head>
    <title>Квадратное уравнение</title>
    <meta charset="utf-8" />
    <style>
      .dd {
        margin: 4px; /* Отступы вокруг */
      }
    </style>
  </head>
  <body>
    <p>5x2 + 4x + 8 = 0</p>
    <h4>Введите ответ</h4>
    <form method="post">
      <input type="hidden" name="id" value="1" />
      <div class="dd">
        <label>D:</label>
        <input type="number" name="d" /><br />
      </div>
      <div class="dd">
        <label>x1:</label>
        <input type="number" name="x1" /><br />
      </div>
      <div class="dd">
        <label>x2:</label>
        <input type="number" name="x2" /><br />
      </div>
      <input type="submit" value="Отправить" />
    </form>
  </body>
</html>
